<%- include("../layouts/main") %>
<div class="container mt-4">
<form method="post" enctype="multipart/form-data">
<input name="name" placeholder="Name"><input name="duration" placeholder="Duration">
<input name="genre" placeholder="Genre"><input name="rating" placeholder="Rating">
<input type="file" name="image"><button>Add</button>
</form></div>