<%- include("../layouts/main") %>
<div class="container mt-4">
<form method="post" action="/auth/login">
<input name="email"><input name="password" type="password">
<button>Login</button></form></div>